.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 1280px;
    margin: 0 auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}


.galleryItem {
    flex-basis: calc(100% - 5 * 15px) / 4;
    cursor: pointer;
    transition: scale 250ms linear;
}

.galleryItem:focus,
.galleryItem:hover {
    scale: 1.05;
}