


.topGameSection {
    padding-top: 40px;
    padding-bottom: 40px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}



.topGameTitle {
    margin-bottom: 35px;
}


.galleryItem {
    
    flex-basis: calc(100% - 5 * 15px) / 4;
}

.galleryImgBox {
    position: relative;
}

.iconFavorite {
    cursor: pointer;
    position: absolute;
    z-index: 22;
    top: 12px;
    right: 16px;
  
    width: 44px;
    height: 44px;
}


.galleryItem:nth-child(4) {
    margin-bottom: 40px;
}

.topGameImg {
    transition: scale 250ms linear;
     
    display: block;
    border-radius: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

.topGameImg:focus,
.topGameImg:hover {
    scale: 1.05;
}

.topGameName {
    width: 260px;
    margin-bottom: 10px;
    margin-left: 22px;
 
    font-weight: 500;
    font-size: 24px; 
}

.topGameGanre {
    margin-bottom: 15px;
    margin-left: 22px;

    font-family: 'Roboto',sans-serif;
    font-weight: 400;
}


.topGameLink {
    transition: color 250ms linear;

    margin-left: 22px;

    font-weight: 600;
    font-size: 18px;
}


.topGameLink:hover,
.topGameLink:focus {
    color: #77BE1D;
}

