


.topGameSection {
    padding-top: 40px;
    padding-bottom: 40px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}



.topGameTitle {
    margin-bottom: 35px;
}


.galleryItem {
    flex-basis: calc(100% - 5 * 15px) / 4;
    cursor: pointer;
    transition: scale 250ms linear;
}


.galleryItem:focus,
.galleryItem:hover {
    scale: 1.05;
}

.topGameImg {
    display: block;
    border-radius: 15px;
}