

.genreNameBox {
    display: flex;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    border-bottom: 4px solid #FFF;
    margin-bottom: 22px;
}

.genreName {
    margin-left: 32px;
    margin-bottom: 10px;
 

    color: #FFF;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}

.arrowIcon  {
    transition: transform 0.3s ease;

    cursor: pointer;
    width: 44px;
    height: 44px;
}

.arrowIcon.rotate {
    transform: rotate(180deg);
}