
.gameList {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   margin-top: 40px;
   margin-bottom: 40px;
  

   overflow: hidden;
   min-height: 0;
   transition: min-height 0.3 ease;
}

.gameList.active {
    min-height: 500px;
}

.gameItem {
   width: 300px;
   margin-right: 20px;
   margin-bottom: 40px;
}

.gameImg {
    display: block;
    width: 300px;
    height: 450px;

    transition: transform 250ms linear;
    border-radius: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}



.gameName {
    transition: color 250ms linear;

    width: 260px;
    margin-left: 20px;
    font-weight: 500;
    font-size: 24px;
    cursor: pointer;
}

.gameName:focus, 
.gameName:hover {
    color: #77BE1D;
}