 .header {
    height: 158px;
    /* padding-top: 20px;
    padding-bottom: 25px; */
}

 .footerFlex {
     padding-top: 20px; 
     padding-bottom: 25px; 
     display: flex;
     justify-content: space-between;
 }


 .navList {
    display: flex;
 }

 .navItem {
    margin-right: 18px;
 } 