


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1200;
}


.modal {
    align-items: center;
    display: flex;
    width: 1070px;
    height:  580px;

    background: #07050E;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}

.modalImg {
    display: block;
    padding: 40px 30px 40px 40px;
    border-radius: 15px;
}

.modalInform {
    display: flex;
    flex-direction: column;
}

.modalImgName {
    margin-bottom: 440px;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
}


.modalControl {
   display: flex;
}

.linkDetails {
    color: #FFFFFF;
    margin-right: 100px;
}