.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1200;
}


.modal {
    align-items: center;
    display: flex;
    width: 1070px;
    height:  580px;

    background: #07050E;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}

.modalImg {
    display: block;
    padding: 40px 30px 40px 40px;
    border-radius: 100px;
}

.modalInform {
    display: flex;
    flex-direction: column;
}

.modalImgName {
    margin-bottom: 400px;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
}


.modalControl {
   display: flex;
   align-items: center;
}

.linkDetails {
    color: #FFFFFF;
    margin-right: 100px;
}


.closeModalBtn {
    margin-left: 350px;

    display: inline-block;
    min-width: 135px;
    min-height: 60px;
    border: 2px solid #77BE1D;
    
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    cursor: pointer;
    background-color: #07050E;
    color: #FFFFFF;
    border-radius: 15px;
    transition: color 250ms linear,
    border-color 250ms ease-in-out;
}

.closeModalBtn:hover,
.closeModalBtn:focus {
    color: rgb(211, 54, 54);
    border-color: rgb(211, 54, 54);
}