@import-normalize;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #06030F;
  color: #FFFFFF;
  /* background-color: #000000; */
}

.no-scroll {
  overflow: hidden;
} 

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  /* min-width: 100%; */
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}


.container {
  width: 1280px;
  margin: 0 auto;
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
